@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-color: #1d1451;
  --blue-color: #2CA3AB;
  --gray-color: #C4C4C4;
  --orange-color: #F3610E;
  --red-color: #A40101;
}

#container {
  padding: 1.5rem;
  text-align: center;
}

.ingresar {
  border-radius: 20px;
  background-color: #1d1451;
  color: #fff;
  width: 110px;
  height: 25px;
  align-items: center;
  margin-top: 2rem;
}

.ingresar img {
  width: 30px;
  align-items: center;
}

.logo img {
  flex-direction: row;
}

.logo-f {
  width: 200px;
  position: relative;
  animation-name: logo-forja;
  animation-duration: 6s;
  animation-delay: -1s;
}


@keyframes logo-forja {
  25% {
    background-color: var(--orange-color);
  }

  50% {
    background-color: var(--blue-color);
  }

  75% {
    background-color: var(--red-color);
  }
}

.injection {
  width: 50px;
  align-items: center;
  margin-left: 2.5rem;
}

.linea- {
  width: 300px;
  height: 30px;
}

.banner {
  background-image: url(../img/2.medico.svg);
  height: 400px;
  max-width: 3000px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#text-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
}

#text-banner h2 {
  color: var(--orange-color);
  font-size: 20px;
  margin-top: 40px;
}

#text-banner h1 {
  font-size: 30px;
  margin-top: 30px;
}

.separador {
  align-items: baseline;
  padding: 0px;
  margin: 0px;
  border-bottom: solid 5px var(--blue-color);
  width: 320px;
  height: 50px;
}

#covid- {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 50px;
  background: url(../img/4.\ covid.jpg);
}

#covid- h3 {
  color: var(--dark-color)
}

.covid div {
  display: flex;
}

.covid,
.covid-2 {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  text-align: justify;
  width: 600px;
  align-items: center;
}

.covid img {
  width: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

li {
  list-style: url(../img/6.\ check.svg);
}

.covid-2 div {
  display: flex;
}

.question {
  width: 40px;
  display: flex;
  align-items: center;
}

.oms {
  width: 150px;
}


#articlesindex {
  background-color: var(--dark-color);
  color: #fff;
}

#articlesindex div {
  padding: 1rem;
  border-bottom: 10px solid rgb(65, 64, 64);
  ;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  height: 100px;
  margin-top: 10px;
  padding: 1rem;
}


@media (min-width: 768px) {
  .separador {
    padding: 0px;
    margin: 0px;
    border-bottom: solid 5px var(--blue-color);
    width: 768px;
    height: 50px;
  }


  #container {
    text-align: right;
    padding: 10px;
    justify-content: flex-end;
    margin: 10px;
    flex-direction: row;
  }

  #container div {
    display: inline;
    margin-left: 50px;
  }

  .ingresar {
    border-radius: 20px;
    background-color: #1d1451;
    color: #fff;
    width: 110px;
    height: 25px;
    align-items: center;
    margin-left: 0px;
  }

  .ingresar img {
    width: 30px;
    align-items: center;
  }

  .logo-f {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 250px;
  }

  .injection {
    width: 60px;
    align-items: center;
  }

  .linea- {
    width: 700px;
  }
}

@media (min-width:1024px) {
  .separador {
    width: 1024px;
    height: 70px;
  }

  .covid,
  .covid-2 {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    text-align: justify;
    width: 400px;
    align-items: center;
  }

}

@media (min-width: 1200px) {
  .separador {
    max-width: 2400px;
    width: 100%;
    height: 100px;
  }
}


  /*ESTILOS INDEX*/

  /*ESTILOS lOGIN*/
  .body-login {background-image: url(../img/10.\ background.png);

  }
  #form-login {
    width: 300px;
    height: 500px;
    margin: 20% auto;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(68, 68, 68);
  }

  .volver-inicio {
    background-color: #1d1451;
    color: #fff;
    border: #2CA3AB solid 2px;
    padding: 5px;
    margin: auto;
    justify-content: center;
    left: 50%;
  }

  .header-form {
    background-color: rgb(167, 221, 223);
    padding: 4rem 6.5rem 4rem 6.5rem;
  }

  p {
    animation-duration: 3s;
    animation-name: login-text;
  }


  @keyframes login-text {
    from {
      margin-left: 100%;
      width: 300%
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  input {
    outline: 0px;
    border-radius: 15px;
    width: 200px;
    background-color: rgba(167, 221, 223, 40%);
  }

  .user {
    border: solid 2px var(--blue-color);
    padding: 10px;
  }

  .user-password {
    padding: 20px;
  }

  .user-password h5 {
    text-decoration: underline;
    margin-top: 10px;
  }

  .user-password button {
    background-color: #F3610E;
    padding: 10px 30px 10px 30px;
    border-radius: 15%;
    color: #fff;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    input {
      width: 400px;
    }

    #form-login {
      width: 500px;
      height: 500px;
    }

  }

  @media (min-width: 1200px) {
    #form-login {
      width: 500px;
      height: 600px;
      margin-top: 10%;
    }

    .user,
    .user-password {
      margin-top: 15px;
    }

    p {
      margin-top: 10px;
    }

    .user-password button {
      margin-top: 40px;
    }
  }

  /*ESTILOS DASHBOARD*/

  #dashboard {
    display: flex;
    flex-direction: column;
    background: url(../img/dashboard-small.svg);
  }

  .dash-main input {
    font-family: 'Poppins', sans-serif;
    background-color: none;
    outline: 0px;
    height: 50px;
  }

  .dash- {
    background-color: #1d1451;
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 70px;
    justify-content: space-evenly;
  }

  .dash- img {
    width: 150px;
    height: 70px;
    position: relative;
    animation-name: forja-dash;
    animation-duration: 2s;
    animation-direction: alternate;
  }

  @keyframes forja-dash {
    0% {
      left: 0px;
      top: 0px;
    }

    25% {
      left: 50px;
      top: 0px;
    }

    50% {
      left: 50px;
      top: 50px;
    }

    75% {
      left: 0px;
      top: 50px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }

  .dash-aside {
    background-color: #C4C4C4;
    border: var(--orange-color) solid 4px;
    text-align: center;
    padding: 0.3rem;
    width: 50px;
    font-size: 0px;
    color: #000000;
  }

  .dash-aside a,
  .dash-aside i {
    color: #000000;
    font-size: 20px;
    margin-top: 15px;
  }

  .log-person button {
    justify-content: center;
    width: 200px;
    height: 90px;
    margin-left: 846%;
    background-color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
    border: none;
  }

  .log-person i {
    border-radius: 50%;
    background-color: #fff;
    border: solid 2px var(--orange-color);
    margin-right: 10px;
    padding: 10px;
  }

  .dash-main {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .dash-main i {
    color: #fff;
    font-size: 10px;
    margin-top: 0px;
  }

  .dash-main h1 {
    font-size: 40px;
    color: #F3610E;
  }

  .dash-main img {
    margin-top: 28.3%;
  }

  .dash-numdoc {
    text-align: center;
    align-content: center;
    padding-top: 100px;
    margin-left: 0%;
  }

  .separador- img {
    padding-top: 10px;
    border-bottom: #2CA3AB solid 5px;
    max-width: 2400px;
    width: 100%;
    height: 50px;
    margin-top: 115%;
  }

  @media (min-width: 768px) {
    #dashboard {
      display: flex;
      flex-direction: row;
      background: url(../img/dashbackground.svg);
    }

    .dash- {
      background-color: #1d1451;
      display: flex;
      flex-direction: column;
      width: 150px;
      height: 700px;
      justify-content: space-evenly;
    }

    .dash-aside {
      background-color: #C4C4C4;
      border: var(--orange-color) solid 4px;
      text-align: center;
      padding: 0.3rem;
      width: 150px;
      font-size: 14px;
    }

    .separador- img {
      margin-top: 89%;
      border-bottom: #2CA3AB solid 5px;
    }

  }


@media (min-width: 1200px) {
  .dash- {
    background-color: #1d1451;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1000px;
    justify-content: space-evenly;
  }

  .dash-aside {
    background-color: #C4C4C4;
    border: var(--orange-color) solid 4px;
    text-align: center;
    padding: 0.3rem;
    width: 300px;
    font-size: 16px;
  }

  .dash- img {
    width: 300px;
  }

  .separador- img {
    margin-top: 70%;
    border-bottom: #2CA3AB solid 5px;
    max-width: 2400px;
    width: 100%;
    height: 70px;
  }

  .dash-numdoc {
    margin-top: 70px;
  }
}


/*ESTILOS PACIENTES LOG*/

#header {
  background-color: #1d1451;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#header img {
  width: 245px;

}

.buttons button {
  border-radius: 50%;
  padding: 15px;
  border: #2CA3AB solid 2px;
  margin-left: 10px;
}

.buttons i {
  color: #000000;
}

.logo img {
  margin-bottom: 0%;
  margin: left 0%;
}

.add {
  background-color: #F3610E;
  border-radius: 10%;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 30px;
  height: 50px;
}

.add i {
  margin-left: 10px;
}

.pacientes-log {
  display: flex;
  justify-content: space-around;
  margin-left: 0%;
  padding: 0px;
}

.pacientes-log button {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 0px;
  width: 30px;
  height: 30px;
}

.pacientes-log i {
  font-size: 10px;
  margin: 0px;
}

.pacientes h1 {
  text-align: center;
  text-decoration: underline;
  animation-duration: 3s;
  animation-name: buttons-login;
  animation-direction: alternate;
}


@keyframes buttons-login {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

table {
  border: solid 2px #2CA3AB;
  text-align: center;
  border-collapse: collapse;
  margin: 20px 5px;
  font-size: 12px;
}

td {
  background-color: #C4C4C4;
  padding: 5px;
}

th {
  background-color: #1d1451;
  color: #fff;
  padding: 5px;
}

td,
th {
  border: solid 2px #2CA3AB;
}

.edit {
  padding: 5px;
  background-color: #2CA3AB;
  border: none;
}

.delete {
  padding: 5px;
  background-color: #A40101;
  border: none;
  color: #fff;
}

.delete i {
  margin-left: 2px;
}

.search-doc {
  padding: 10px;
  margin-top: 10px;
}

.dash-search {
  padding: 10px;
  border: #2CA3AB solid 2px;
  background-color: #1d1451;
  color: #fff;
  border-radius: 2%;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .pacientes-log button {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 70px;
    height: 50px;
  }

  .pacientes-log i {
    font-size: 10px;
    margin: 5px;
  }


  table {
    border: solid 2px #2CA3AB;
    text-align: center;
    border-collapse: collapse;
    margin: 50px 20px;
    font-size: 14px;
    margin-bottom: 80px;
  }

  td,
  th {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  table {
    height: 600px;
    margin-left: 100px;
    margin-bottom: 100px;
  }

  .pacientes {
    height: 50px;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  table {
    height: 700px;
    font-size: 16px;
    margin-left: 250px;
    margin-bottom: 200px
  }
}

/*ESTILOS PACIENTESREGISTER*/

#form-container {
  background-color: #C4C4C4;
  width: 310px;
  padding: 20px;
  height: 1250px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

#form-container input {
  background-color: #fff;
  width: 150px;
  border-radius: 2px;
  border: #2CA3AB solid 1px;
  height: 30px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.prueba-covid {
  width: 110px;
  display: flex;
  text-align: center;
  flex-direction: row;
}

#form-container select {
  background-color: #fff;
  border-radius: 2px;
  border: #2CA3AB solid 1px;
  height: 30px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}


.pac-separador h1 {
  background-color: #1d1451;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.tittle {
  display: flex;
  background-color: #2CA3AB;
  color: #fff;
  align-items: center;
  height: 30px;
  width: 280px;
  text-align: center;
  border: #000000 solid 1px;
  margin: 10px 0px;
  justify-content: center;
  font-size: 12px;
}

.tittle h2 {
  font-size: 16px;
}

.tittle i {
  margin-right: 20px;
  margin-left: 10px;
  color: #000000;
  justify-content: left;
}

.pacient-dates,
.health {
  margin: 10px 10px;
}

.guardar {
  background-color: #F3610E;
  border-radius: 10%;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 120px;
  position: relative;
}
/*
  animation-name: guardar-register;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes guardar-register {
  0% {
    background-color: #2CA3AB;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: #1d1451;
    left: 50px;
    top: 0px;
  }

  50% {
    background-color: #C4C4C4;
    left: 50px;
    top: 10px;
  }

  75% {
    background-color: #A40101;
    left: 0px;
    top: 10px;
  }

  100% {
    background-color: #F3610E;
    left: 0px;
    top: 0px;
  }
}
*/
@media (min-width: 768px) {
  #form-container {
    background-color: #C4C4C4;
    width: 700px;
    padding: 20px;
    height: 900px;
    margin: 50px 30px;
    border-radius: 5%;
  }

  .guardar {
    margin-left: 350px;
    margin-top: 0%;
  }

  .tittle {
    width: 650px;
  }

  .pacient-dates,
  .health {
    padding: 10px;
  }

  #form-container input {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  #form-container {
    background-color: #C4C4C4;
    width: 800px;
    padding: 20px;
    height: 800px;
    margin-left: 120px;
    border-radius: 5%;
  }

  .tittle {
    width: 750px;
  }

  .guardar {
    margin-left: 450px;
    margin-top: 0%;
  }
}

@media (min-width: 1200px) {
  #form-container {
    background-color: #C4C4C4;
    width: 800px;
    padding: 20px;
    height: 800px;
    margin-left: 250px;
    border-radius: 5%;
  }

  .guardar {
    margin-left: 600px;
    margin-top: 0%;
  }
}

/* ESTILOS MODAL */

.modal, .modal-secondary, .modal-terciary, .modal-quaternary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(29,20,81,0.9) 0%, rgba(44,163,171,0.9) 100%);
  display: flex;
  opacity: 0;
  pointer-events: none;

}

.modal_container {
  background-color: #fff;
  margin: auto;
  width: 95%;
  max-width: 400px;
  height: 85%;
  border-radius: 6%;
  padding:3em 2.5em;
  place-items: center;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  text-align: center;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
}

.modal_link {
  background-color: #2CA3AB;
  padding: 7px;
  border-radius: 3%;
}
.modal_link:hover {
  background-color:#fff;
  border:#2CA3AB solid 2px;
  color: #2CA3AB;
}
.modal_close {
  background-color: #A40101;
  padding: 7px;
  border-radius: 3%;
}

.modal_close:hover {
  background-color: #fff;
  border:#A40101 solid 2px;
  color: #A40101;
}